[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyrebase = "*"
pytz = "*"
flask = "*"
firebase = "*"
pynput = "*"
controller = "*"

[dev-packages]

[requires]
python_version = "3.8"
